body {
  background-color: blanchedalmond;
  color: brown;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  font-weight: lighter;
  font-style: italic;
}

h3 {
  font-size: 30px;
}

a {
  color: burlywood;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.croissant-image {
  border-radius: 8px;
  width: 65%;
  margin: 10px;
}

.la-fournette {
  border-radius: 8px;
  margin-bottom: 18px;
}
